/* Update : 2015-01-28 */

@font-face {
   font-family: "Trajan Pro";
   src: url('../fonts/TrajanPro-Regular.ttf');
}

body{
	overflow:hidden;
	cursor:none;
	background:#FFFFFF;
}

/* Logo et bannière de gauche */
#side1{
	position: absolute;
	top : 215px;
}

/* Pavé de gauche (EntryWay, clock ...) */
#left{
	position:absolute;
	left: 100px;
	width:860px;
	margin: auto;
}

/* EntryWay */
#accordion{
	width:860px;
}

#accordion div{
	padding: 20px 0 20px 10px;
}

#accordion h1{
	margin-top: 13px;
	font-size: 19pt;
}

#accordion #h1{
	margin-top: 0;
}

/* Tableau EntryWay : positionement des colonnes */
.col00{
	width: 585px;
}

.col0{
	width: 570px;
	padding: 0 0 0 20px;
}

.col1,.col2,.col3{
	width:80px;
	text-align:center;
	white-space:nowrap;
}

/* Images dans EntryWay Columbia Programs */
#img-columbia{
	width:600px;
	margin: 20px 130px 0 130px;
	display:none;
}

/* Pavé en bas à gauche (clock, date ...) */
#bottom{
	height: 120px;
	margin-top: 10px;
	background:#EEEEEE;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border: solid 1px #CCCCCC; 
	padding: 10px;
}

#date{
	color: rgb(0, 43, 127);
	position:absolute;
	height:52px;
	bottom:42px;
	left:150px;
	text-align: left;
	white-space:nowrap;
	font-size:22px;
	font-weight: normal;
}

#clock{
	position:relative;
	width:120px;
	height:120px;
}

#clockImg{
	width:120px;
	height:120px;
}

#flashcode{
	position:absolute;
	bottom:15px;
	right: 20px;
}

#url{
	position: absolute;
	right: 130px;
	bottom: 16px;
	padding: 0;
	margin: 0;
	text-align:right;
}

#url h2{
	font-weight: normal;
	font-size : 13pt;
	margin: 10px 0 10px 0;
	margin: 0;
}

#url label{
	position:relative;
	bottom: 6px;
}

#url h2 img{
	height:22px;
	margin-left:10px;
	padding-bottom:0px;
}

/* Pavé de doites (affichage des Images) */
#right{
	position: absolute;
	width: 700px;
	padding:20px;
	background:#EEEEEE;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border: solid 1px #CCCCCC; 
}


/* Polices */
h1,#date{
	color: #6BADDE; 
       	font-family: Trajan Pro;
       	font-size: 22px;
       	margin: 20px 0 0 0;
}

h2,.h2{
	color: rgb(0, 43, 127);
	font-family: Adobe Garamond Pro;
       	font-size: 14pt;
}

h3{
	color: #6BADDE;
}

.subtitle{
	color: #6BADDE;
       	font-family: Adobe Garamond Pro;
       	font-size: 18px;
}




/* Events : Affichage des événements en petits messages (désactivé) */
/*
#events{
	position:absolute;
	top:690px;
	left:20px;
	width:860px;
	height:175px;
	text-align:center;
}

#events h2{
       	font-family: Trajan Pro;
	font-size:17pt;
	margin-bottom:5px;
}

#eventContent{
	height:120px;
	padding-top:1px;
	background:#FFFFFF;
	border: solid 1px #CCCCCC;

}

#eventContent h2{
	font-family: Adobe Garamond Pro;
}
*/