@font-face {
   font-family: "Trajan Pro";
   src: url('../fonts/TrajanPro-Regular.ttf');
}

body{
	width:1920px;
	height:1080px;
	overflow:hidden;
	cursor:none;
	background:#FFFFFF;
}


#side1{
	position: absolute;
	top : 215px;
	left: 25px;
}

#logo{
/*	margin: 0 0 10px 0; */
	/*height: 650px;*/
}


/*
#banner{
	display: none;
	width:100%;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#banner img{
}
*/


#accordion{
	/* border: 1px solid blue; */
	position:absolute;
	left: 100px;
	bottom : 165px;
	width:860px;
}

#accordion div{
	padding: 20px 0 20px 10px;
}

#accordion h1{
	margin-top: 13px;
	font-size: 19pt;
}

#table1,#table2,#table3{

}

#right{
	position: absolute;
	top : 38px;
	right : 40px;
	width: 860px;
	height: 988px;
	padding:20px;
	background:#EEEEEE;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border: solid 1px #CCCCCC; 
}

h1,#date{
	/*color: rgb(0, 43, 127);*/
	color: #6BADDE; 
       	font-family: Trajan Pro;
       	font-size: 22px;
       	margin: 20px 0 0 0;
	/*font-weight: normal;*/
}

h2,.h2{
	color: rgb(0, 43, 127);
	/* color: #6BADDE; */
	font-family: Adobe Garamond Pro;
       	font-size: 14pt;
}

h3{
	color: #6BADDE;
}

.col00{
	width: 585px;
}

.col0{
	width: 570px;
	padding: 0 0 0 20px;
	/* border: solid 1px black; */
}

.col1,.col2,.col3{
	width:80px;
	text-align:center;
	white-space:nowrap;
}

.ligne1{
	padding-bottom:20px;
}

.subtitle{
	color: #6BADDE;
	/* color: rgb(0, 43, 127); */
       	font-family: Adobe Garamond Pro;
       	font-size: 18px;
}

#img-columbia{
	width:600px;
	margin: 20px 130px 0 130px;
	display:none;
}

#bottom{
	position: absolute;
	left: 100px;
	bottom: 10px;
	height: 120px;
	width:840px;
	background:#EEEEEE;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border: solid 1px #CCCCCC; 
	padding: 10px;
}

#date{
	color: rgb(0, 43, 127);
	position:absolute;
	height:52px;
	bottom:42px;
	left:150px;
	text-align: left;
	white-space:nowrap;
	font-size:22px;
	font-weight: normal;
}

#clock{
	position:relative;
	width:120px;
	height:120px;
}

#clockImg{
	width:120px;
	height:120px;
}

#flashcode{
	position:absolute;
	bottom:15px;
	right: 20px;
}

#image1,#image2,#image3{
	position: absolute;
	right: 70px;
	top: 90px;
	width: 560px;
	box-shadow: 8px 8px 8px #888888;
	display: none;
}

#image2{
	top: 330px;
}

#image3{
	top: 570px;
}

#url{
	position: absolute;
	right: 130px;
	bottom: 16px;
	padding: 0;
	margin: 0;
	text-align:right;
}

#url h2{
	font-weight: normal;
	font-size : 13pt;
	margin: 10px 0 10px 0;
	margin: 0;
}

#url label{
	position:relative;
	bottom: 6px;
}

#url h2 img{
	height:22px;
	margin-left:10px;
	padding-bottom:0px;
}

#slides{
	position: absolute;
	right: 20px;
	top: 20px;
	height:720px;
	width:860px;
	/* border: 1px solid red; */
	/*border: solid 1px red;*/
	/*vertical-align:middle;*/
	/*border:solid 1px black;*/
}

#slideContent{
	width:100%;
}

#slideContent img{
	max-width='860px;';
	max-height='1900px;';
	height:980px;
}

#events{
	position:absolute;
	top:690px;
	left:20px;
	width:860px;
	height:175px;
	text-align:center;
}

#events h2{
       	font-family: Trajan Pro;
	font-size:17pt;
	margin-bottom:5px;
}

#eventContent{
	height:120px;
	padding-top:1px;
	background:#FFFFFF;
	border: solid 1px #CCCCCC;

}

#eventContent h2{
	font-family: Adobe Garamond Pro;
}

.title-right,.title-right2{
	width:100%;
	text-align:center;
	margin-bottom:20px;
	color: rgb(0, 43, 127);
}

.title-right2{
	margin-bottom:30px;
	color: #6BADDE;
}
