/* Update : 2015-01-29 */

@font-face {
   font-family: "Trajan Pro";
   src: url('fonts/TrajanPro-Regular.ttf');
}

body{
	overflow:hidden;
	cursor:none;
	background:#FFFFFF;
}

/* Logo et bannière de gauche */
#logo{
	position: absolute;
	left : 50px;
}


#banner-div{
	display: inline-block;
	position: absolute;
	left: 75px;
	overflow: hidden;
	width : 55px;
	margin-left:50px;
	border-radius: 5px;
}

#banner{
	position: relative;
	left: -15px;
	opacity:0.8;
	margin:0;
	padding:0;
}

/* Pavé de droite (EntryWay, clock ...) */
#right{
	position:absolute;
	right: 50px;
	width:860px;
	min-height: 1016px;
}

/* EntryWay */
#accordion{
	width:860px;
}

#accordion div{
	padding: 20px 0 20px 10px;
}

#accordion h1{
	margin-top: 13px;
	font-size: 19pt;
}

#accordion #h1 {
	margin-top: 0;
}

/* Tableau EntryWay : positionement des colonnes */
tr{
	vertical-align:bottom;
}

.col00{
	width: 585px;
}

.col0{
	width: 570px;
	padding: 0 0 0 20px;
}

.col1,.col2,.col3{
	width:80px;
	text-align:center;
	white-space:nowrap;
}


/* Images dans EntryWay Columbia Programs */
.background1{
	background: url("../img/images/columbia1.png") no-repeat bottom;
}

.background2{
	background: url("../img/columbia2.png") no-repeat bottom;
}

.background3{
	background: url("../img/columbia3.png") no-repeat bottom;
}


/* Pavé en bas à gauche (clock, date ...) */
#bottom{
	height: 120px;
	margin: 13px 0 0 0;
	background:#EEEEEE;
	border-radius:5px;
	border: solid 1px #CCCCCC; 
	padding: 10px;
}

#clock{
	display: inline-block;
	position:relative;
	width:120px;
	height:120px;
}

#clockImg{
	width:120px;
	height:120px;
}

#date{
	display: inline-block;
	position:absolute;
	left:150px;
	text-align: left;
	white-space:nowrap;
	color: rgb(0, 43, 127);
	font-family: Trajan Pro;
	font-size: 22px;
}

#flashcode-div{
	display: inline-block;
	position:absolute;
	right: 20px;
}

#url{
	display: inline-block;
	position: absolute;
	right: 130px;
	text-align:right;
	padding-top:4px;
}

#url h2{
	font-weight: normal;
	font-size : 13pt;
	margin: 0;
}

#url label{
	position:relative;
	bottom: 6px;
}

#url h2 img{
	height:22px;
	margin-left:10px;
	padding-bottom:0px;
}

/* Pavé de gauche (affichage des Images) */
#left{
	position: absolute;
	left: 222px;
	width: 700px;
	padding:20px;
	background:#EEEEEE;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border: solid 1px #CCCCCC; 
}

#left img{
	border-radius: 10px;
}

/* Polices */
h1{
	color: #6BADDE; 
	font-family: Trajan Pro;
	font-size: 22px;
	margin: 20px 0 0 0;
}

h2,.h2{
	color: rgb(0, 43, 127);
	font-family: Adobe Garamond Pro;
    font-size: 14pt;
}

h3{
	color: #6BADDE;
}

.subtitle{
	color: #6BADDE;
    font-family: Adobe Garamond Pro;
    font-size: 18px;
}




/* Events : Affichage des événements en petits messages (désactivé) */
/*
#events{
	position:absolute;
	top:690px;
	left:20px;
	width:860px;
	height:175px;
	text-align:center;
}

#events h2{
       	font-family: Trajan Pro;
	font-size:17pt;
	margin-bottom:5px;
}

#eventContent{
	height:120px;
	padding-top:1px;
	background:#FFFFFF;
	border: solid 1px #CCCCCC;

}

#eventContent h2{
	font-family: Adobe Garamond Pro;
}
*/